<footer class="footer">
  <p>
    <span data-i18n="footerCopyright">
      © 2026 Aarogyam Lifecare Diagnostic Centre
    </span><br>
    <span data-i18n="footerAddress">
      Motichand College Campus, Kasia, Kushinagar
    </span>
  </p>
</footer>

</body>
</html>
